# Ignore all test and documentation for archive
.*                  export-ignore
*.dist              export-ignore
*.neon              export-ignore
*.yml               export-ignore
/tests              export-ignore
/docs               export-ignore
/Makefile           export-ignore

# Avoid merge conflicts in CHANGELOG
# https://about.gitlab.com/2015/02/10/gitlab-reduced-merge-conflicts-by-90-percent-with-changelog-placeholders/
/CHANGELOG.md		merge=union
